p {
    font-family: Lato;
  }
  .table,.container{
    margin-top:50px;
  }
  .btn{
    margin-right:20px;
    margin-top: 20px;
  }
.table-responsive{
  max-height: 100px;
}

/* text for importing a file */
.card-header{
  font-family: Helvetica, sans-serif	;
  font-weight: bold;
  font-size: 30px;
}

.card-header2{
  font-family: Georgia;
  font-weight: 500;
  font-size: 30px;
  color: rgba(174, 191, 206, 0.76);
}
