
  <!--add button to export file-->
  <!--<div class="right">
    <label id="download">Export</label> <br>
    <select (click)="" name="format" id="format-choice">
        <option value="CSV">CSV</option>
        <option value="Json">Json</option>
    </select>
  </div>-->


<!-- <angular2csv [data]="data" filename="resultats.csv" [options]="options" name="export">Export</angular2csv> -->

<!-- <button (click)="exportCSV()">CSV download</button> -->

<button style="height: 80px;width: 300px;position: relative;left: 25%;transform: translateX(-25%);" class="bouton-ligne" mat-raised-button color="primary" (click)="openDialog()"> <h1><img src="../../assets/logo_download.png">Téléchargement</h1></button>
<!-- style="height: 80px;width: 300px;position: relative;left: 25%;transform: translateX(-25%);" -->